/* Application Styles */

section:nth-of-type(1) {
	display: block;
}

.event_00 .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 50% 0
}

@media (min-width: 700px) {
  .event_00 .copy .wrap {
    width: 75%
  }
}

.event_01 .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 50% 0
}

@media (min-width: 850px) {
  .event_01 .copy .wrap {
    width: 55%
  }
.full-spread .copy .event.title {
  width: 70%;
}
.copy .event.title {
  display: inline-block;
  vertical-align: top;
}





}

.event_02 .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 30% 0
}

@media (min-width: 850px) {
  .event_02 .copy .wrap {
    width: 55%
  }
}

.moment-the-square .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 60% 50%
}

@media (min-width: 850px) {
  .moment-the-square .copy .wrap {
    width: 65%
  }
}

.moment-chineasy .asset-1 {
  background-image: url("imgs/aphex-twin.jpg")
}

@media (min-width: 700px) {
  .moment-chineasy .asset-1 {
    background-position: 25% 0
  }
}

.moment-chineasy .asset-2 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 50% 0
}

@media (min-width: 700px) {
  .moment-chineasy .asset-2 {
    background-position: 50% 0
  }
}

.moment-marriage .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 30% 0
}

.moment-marriage .asset-2 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 40% 0
}

.moment-times .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 50% 50%
}

@media (min-width: 850px) {
  .moment-times .copy .wrap {
    width: 55%
  }
}

.moment-moma .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 50% 0
}

@media (min-width: 850px) {
  .moment-moma .copy .wrap {
    width: 70%
  }
}

.moment-marina .multi-asset-wrap {
  background-color: #D1D4E3
}

.moment-marina .multi-asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 55% 0
}

.moment-marina .multi-asset-2 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 70% 0
}

.moment-marina .multi-asset-3 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 50% 0
}

.moment-marina .copy .wrap {
  width: 88%
}

@media (min-width: 850px) {
  .moment-marina .copy .wrap {
    width: 65%
  }
}

.moment-mine-kafon .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 16% 0
}

.moment-mine-kafon .copy .wrap {
  width: 88%
}

@media (min-width: 850px) {
  .moment-mine-kafon .copy .wrap {
    width: 65%
  }
}

.event_03 .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 50% 0
}

.event_03 .listen {
  border: none;
  margin-top: 2rem
}

@media (min-width: 850px) {
  .event_03 .copy .wrap {
    width: 75%
  }
}

@media (min-width: 750px) {
  .event_03 .copy .wrap {
    width: 55%
  }
}

.moment-kano .asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 30% 0
}

.moment-alcatraz .multi-asset-1 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 60% 0
}

.moment-alcatraz .multi-asset-2 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 60% 0
}

.moment-alcatraz .multi-asset-3 {
  background-image: url("imgs/aphex-twin.jpg");
  background-position: 20% 0
}

@media (min-width: 850px) {
  .moment-alcatraz .copy .wrap {
    width: 65%
  }
}

@media (min-width: 850px) {
  .moment-outro-4 .copy .wrap {
    width: 75%
  }
}

.moment-outro-5 .asset-1 {
  background-color: #081245
}

.moment-outro-5 .copy:before {
  margin-top: 5rem
}

.moment-outro-5 .copy .wrap {
  width: 80%
}