*,
*:before,
*:after {
	box-sizing: border-box;
}

.btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.full-viewport-hero__content {
	display: table-cell;
	vertical-align: middle;
}

html,
body,
div,
span,
p,
a,
ul,
li,
section {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

section {
	display: block;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: #0f2105;
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

p {
	margin-bottom: 20px;
}

a,
a:active,
button,
button:visited,
button:active {
	color: #00a0ff;
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

button {
	font-family: inherit;
	-webkit-font-smoothing: inherit;
}

button {
	background: transparent;
	border: 0;
}

.transition-all-bezier {
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
	-moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
	-ms-transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
}

@-webkit-keyframes fade-30-to-100-opacity {
	0% {
		opacity: .3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .3;
	}
}

.fade-30-to-100-opacity-3s {
	-webkit-animation: fade-30-to-100-opacity 3s infinite;
	-moz-animation: fade-30-to-100-opacity 3s infinite;
	-ms-animation: fade-30-to-100-opacity 3s infinite;
	-o-animation: fade-30-to-100-opacity 3s infinite;
	animation: fade-30-to-100-opacity 3s infinite;
}

.fade-30-to-100-opacity-5s {
	-webkit-animation: fade-30-to-100-opacity 5s infinite;
	-moz-animation: fade-30-to-100-opacity 5s infinite;
	-ms-animation: fade-30-to-100-opacity 5s infinite;
	-o-animation: fade-30-to-100-opacity 5s infinite;
	animation: fade-30-to-100-opacity 5s infinite;
}

.fade-30-to-100-opacity-6s {
	-webkit-animation: fade-30-to-100-opacity 6s infinite;
	-moz-animation: fade-30-to-100-opacity 6s infinite;
	-ms-animation: fade-30-to-100-opacity 6s infinite;
	-o-animation: fade-30-to-100-opacity 6s infinite;
	animation: fade-30-to-100-opacity 6s infinite;
}

.btn {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	padding: 12px 20px;
	text-align: center;
	-webkit-appearance: none;
}

.btn--green {
	background-color: #2bde73;
	color: white;
	font-weight: bold;
}

.btn--green:hover {
	background-color: #1db95c;
	color: white;
}

.btn--large {
	font-size: 1.4em;
	padding: 18px 30px;
}

.jGrowl {
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1003;
}

.full-viewport-hero {
	display: table;
	width: 100%;
	height: 100%;
}

.full-viewport-hero__content {
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	margin-top: 10%;
}

.full-viewport-hero__content .title {
	font-family: 'Lilita One';
	font-weight: 400;
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 30px;
}

@media screen and (min-width: 640px) {
	.full-viewport-hero__content .title {
		font-size: 6em;
		margin-bottom: 40px;
	}
}

.full-viewport-hero__content .subtitle {
	font-family: 'Germania One';
	font-weight: normal;
	margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
	.full-viewport-hero__content .subtitle {
		font-size: 32px;
	}
}

.full-viewport-hero__background {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.full-viewport-hero__background .background-tile-half {
	position: absolute;
	width: 100%;
	height: 50%;
}

.full-viewport-hero__background .background-tile-half:last-child {
	bottom: 0px;
	left: 0px;
}

.full-viewport-hero__background .background-tile-quarter {
	position: absolute;
	width: 50%;
	height: 50%;
}

@media screen and (max-width: 640px) {
	.full-viewport-hero__background .background-tile-quarter {
		width: 75%;
	}
}

.full-viewport-hero__background .background-tile-quarter:first-child {
	top: 0px;
	left: 0px;
}

.full-viewport-hero__background .background-tile-quarter:first-child svg {
	position: absolute;
	top: -20px;
	left: -20px;
}

.full-viewport-hero__background .background-tile-quarter:nth-child(2) {
	top: 0px;
	right: 0px;
}

.full-viewport-hero__background .background-tile-quarter:nth-child(2) svg {
	position: absolute;
	top: -20px;
	right: -20px;
}

.full-viewport-hero__background .background-tile-quarter:nth-child(3) {
	bottom: 0px;
	left: 0px;
}

.full-viewport-hero__background .background-tile-quarter:nth-child(3) svg {
	position: absolute;
	bottom: -20px;
	left: -20px;
}

.full-viewport-hero__background .background-tile-quarter:nth-child(4) {
	bottom: 0px;
	right: 0px;
}

.full-viewport-hero__background .background-tile-quarter:nth-child(4) svg {
	position: absolute;
	bottom: -20px;
	right: -20px;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	background: #081245;
	-webkit-text-size-adjust: 100%;
}

h1,
h2 {
	margin: 0;
	font-weight: 300;
}

.trigger-forward,
.trigger-backward {
	position: fixed;
	color: #fff;
	opacity: 0.5;
	height: 30%;
	width: 10%;
	top: 35%;
	z-index: 2100;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	display: block;
	background: url(imgs/nav.svg) no-repeat center center;
	background-size: 15px 40px;
	background-position: 70% 50%;
}

@media (min-width: 700px) {
	.trigger-forward,
	.trigger-backward {
		background-size: 27px 72px;
	}
}

@media (min-width: 1500px) {
	.trigger-forward,
	.trigger-backward {
		background-size: 30px 80px;
	}
}

.trigger-forward:focus,
.trigger-backward:focus {
	outline: none;
}

.trigger-forward:hover,
.trigger-backward:hover {
	opacity: 1;
}

.trigger-forward {
	right: 0;
}

.trigger-backward {
	left: 0;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.view-all {
	color: rgba(255, 255, 255, 0.3);
	font-family: Helvetica;
	font-size: 0.9rem;
	position: fixed;
	z-index: 2100;
	text-decoration: none;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0;
	top: 1rem;
}

.view-all:hover {
	color: #fff;
}

@media (max-width: 700px) {
	.view-all  {
		right: 1rem;
		background-image: url(imgs/calendar.svg);
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
		width: 1.6rem;
		height: 1.6rem;
	}
	.view-all  p{
		visibility: hidden;
	}
}

@media (min-width: 700px) {
	.view-all {
		top: auto;
		bottom: 2rem;
		left: 2rem;
		border: solid 3px rgba(255, 255, 255, 0.3);
		padding: 0.1em 0.5em;
		height: 41px;
		background-color: transparent;
	}
	.view-all  p{
		margin-bottom: 0
	}
	.view-all:hover {
		border: solid 3px white;
	}
}

li {
	display: inline-block;
}

.moments-index-list .box2 {
	margin: 0em 0em;
	margin-left: 0em;
	margin-right: 0.5em;
	width: 6.55em;
	height: 8.75em;
	padding: 0.5em;
	position: relative;
	background: #ffffff;
	border: 0px solid #ccc;
	border-top: 0.0625em solid #ccc;
	-webkit-box-shadow: -0.0625em 0.125em 0.125em rgba(0, 0, 0, 0.2);
	box-shadow: 0 0.1875em 0.375em rgba(0, 0, 0, .25);
	display: inline-block;
	transform: scale(1.25);
}

.moments-index-list img {
	width: 5.55em;
	height: 5em;
	position: relative;
}

.moments-index-list h1 {
	font-size: 0.8em;
	color: #000000;
}

.moments-index-list h2 {
	font-size: 0.65em;
	color: #000000;
}

.moments-index {
	font-family: 'Germania One';
	z-index: 2100;
	position: absolute;
	background: #00a0ff;
	top: 0;
	min-height: 100%;
	padding: 1rem;
	width: 100%;
	font-size: 1.4rem;
	color: #fff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	padding-top: 6rem;
}

@media (min-width: 700px) {
	.moments-index {
		padding: 0;
		font-size: 2rem;
	}
}

.moments-index.yir-hide {
	left: -100%;
}

.moments-index.yir-hide .moments-index-title {
	left: -100%;
}

.moments-index.show {
	left: 0
}

@media (min-width: 700px) {
	.moments-index.show .moments-index-title {
		left: 2rem
	}
}

.moments-index-list {
	list-style-type: none;
	text-align: center;
}

.moments-index-list li {
	margin: 1rem auto;
	
}

.moments-index-list li a.active {
	color: #fff
}

.moments-index-list a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-weight: 300
}

.moments-index-list a:hover {
	color: #fff
}

@media (min-width: 700px) {
	.moments-index-list {
		padding-left: 20rem;
		padding-top: 4.6rem;
		padding-bottom: 1rem;
		float: left
	}
	.moments-index-list a {
		font-weight: 200
	}
}

@media (max-width: 700px) {
	.moments-index-list {
		padding: 3rem auto 1rem;
		float: left;
	}
}

.moments-index-title {
	font-family: 'Passero One' !important;
	font-size: 1.4rem;
	font-weight: bold;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background-image: -webkit-gradient(linear, from(#00a0ff) 75%, to(rgba(0, 160, 255, 0)));
	background-image: -webkit-linear-gradient(#00a0ff 75%, rgba(0, 160, 255, 0));
	background-image: -moz-linear-gradient(#00a0ff 75%, rgba(0, 160, 255, 0));
	background-image: -o-linear-gradient(#00a0ff 75%, rgba(0, 160, 255, 0));
	background-image: linear-gradient(#00a0ff 75%, rgba(0, 160, 255, 0));
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6rem;
	padding-top: 2.5rem;
	padding-left: 1rem;
}

@media (min-width: 700px) {
	.moments-index-title {
		width: auto;
		font-size: 2rem;
		top: 5rem;
		line-height: 2rem;
		height: auto;
		padding: 0;
		background-image: -webkit-gradient(linear, from(transparent) 75%, to(transparent));
		background-image: -webkit-linear-gradient(transparent 75%, transparent);
		background-image: -moz-linear-gradient(transparent 75%, transparent);
		background-image: -o-linear-gradient(transparent 75%, transparent);
		background-image: linear-gradient(transparent 75%, transparent);
	}
}

.social {
	list-style-type: none;
	bottom: 1rem;
	position: fixed;
	z-index: 2099;
	font-size: 0.9rem;
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	right: 1rem;
	height: 19px;
}

.social li {
	margin-left: 0.5rem;
	float: left;
}

.social li.project {
	font-weight: bold;
}

.social li a {
	color: rgba(255, 255, 255, 0.3);
}

.social li a:hover {
	color: #fff;
}

@media (min-width: 700px) {
	.social {
		right: 2rem;
		bottom: 2rem;
		padding: 0;
		height: auto;
	}
	.social li {
		border: solid 3px rgba(255, 255, 255, 0.3);
		width: 35px;
		height: 35px;
		text-align: center;
		box-sizing: content-box;
		margin-left: 0;
	}
	.social li a {
		box-sizing: border-box;
		color: rgba(255, 255, 255, 0.3);
		padding: 5px;
		display: inline-block;
		position: relative;
		width: 35px;
		height: 35px;
	}
	.social li a:hover {
		color: #fff;
		border: solid 3px white;
		top: -3px;
		left: -3px;
		height: 41px;
		width: 41px;
	}
	.social li.project {
		width: 120px;
		line-height: 23.33333px;
	}
	.social li.project a {
		width: 120px;
	}
	.social li.project a:before {
		content: "Last"
	}
	.social li.project a:hover {
		width: 126px;
	}
}

.logo {
	background-size: auto 75%;
	opacity: 0.3;
	width: 1.5rem;
	height: 1.5rem;
	position: fixed;
	left: 1rem;
	z-index: 2099;
}

.logo:hover {
	opacity: 1;
}

.twlogo {
	background: url(imgs/twLogo.png) no-repeat;
	top: 1rem;
	opacity: 1 !important;
	background-size: contain;
}

.ieeelogo {
	background: url(imgs/ksr-logo.svg) no-repeat;
	top: 3rem;
}

.ieeedlogo {
	background: url(imgs/ksr-logo.svg) no-repeat;
	top: 5rem;
}

.dtulogo {
	background: url(imgs/ksr-logo.svg) no-repeat;
	top: 7rem;
}

@media (min-width: 700px) {
	.logo {
		left: 2rem;
		width: 3rem;
		height: 2.5rem;
	}
	.twlogo {
		top: 1rem;
	}
	.ieeelogo {
		top: 4rem;
	}
	.ieeedlogo {
		top: 7rem;
	}
	.dtulogo {
		top: 10rem;
	}
}

.moment {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: serif;
	font-style: normal;
	color: #fff;
	display: none;
	overflow: hidden;
}

.asset {
	position: absolute;
	background-color: #081245;
    opacity: 0.5;
}

.copy {
	position: absolute;
	z-index: 10;
	font-weight: bold;
}

.copy .wrap {
	text-align: center;
	margin: 1em auto;
}

@media (min-width: 700px) {
	.break {
		display: block;
	}
}

.extra {
	font-size: 0.9rem;
	line-height: 1.2rem;
	display: block;
	margin: 1rem auto 0;
}

@media (min-width: 700px) {
	.extra {
		width: 80%;
		line-height: 1.9rem;
		font-size: 1.2rem;
	}
}

.full-spread .asset {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.full-spread .copy {
	height: 70%;
	text-align: center;
	width: 80%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.full-spread .copy .wrap {
	width: 70%;
}

@media (max-width: 600px) {
	.full-spread .copy {
		height: 95%
	}
}

@media (min-width: 850px) {
	.full-spread .copy .wrap {
		width: 45%;
	}
}

@media (min-width: 1500px) {
	.full-spread .copy .wrap {
		width: 40%;
	}
}

.full-spread .copy p {
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-bottom: 45px;
	letter-spacing: 0.01rem;
}

.full-spread .copy .eventDesc {
	margin-bottom: 1em;
}

.event p {
	font-size: 3rem !important;
}

@media (min-width: 600px) {
	.full-spread .copy p,
	.event p {
		font-size: 4.2rem;
		line-height: 2.6rem;
	}
	.full-spread .copy .eventDesc {
		margin-bottom: 45px;
	}
}

@media (min-width: 600px) {
	.full-spread .copy .wrap p {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}
}

@media (min-width: 600px) {
	.full-spread .copy .contact p {
		font-size: 1.5rem;
		line-height: 2.6rem;
	}
}

@media (min-width: 600px) {
	div.contact {
		width: 45%;
		padding: 0.25em;
		margin: 2% auto;
		float: left;
	}
}

@media (min-width: 600px) {
	div.datevenue {
		width: 45%;
		padding: 0.25em;
		margin: 2% auto;
		float: right;
		font-size: 1.5em;
	}
}

@media (min-width: 600px) {
	.full-spread .copy .datevenue p {
		font-size: 1.2rem;
		line-height: 2.0rem;
	}
}

@media (min-width: 880px) {
	.full-spread .copy p,
	.event p {
		font-size: 4.8rem;
		line-height: 4rem;
		letter-spacing: 0.02rem;
	}
}

@media (min-width: 880px) {
	.full-spread .copy .wrap p {
		font-size: 2.0rem;
		line-height: 3rem;
		letter-spacing: 0.02rem;
	}
}

@media (min-width: 880px) {
	.full-spread .copy .contact p {
		font-size: 1.8rem;
		line-height: 3rem;
		letter-spacing: 0.02rem;
	}
}

@media (min-width: 880px) {
	.full-spread .copy .datevenue p {
		font-size: 2.0rem;
		line-height: 3rem;
		letter-spacing: 0.02rem;
	}
}

@media (min-width: 1500px) {
	.full-spread .copy p {
		font-size: 2.6rem;
		line-height: 3.8rem;
	}
}

.heart-kickstarter {
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 2.2rem;
	line-height: 1.7rem;
	margin-bottom: 0;
	letter-spacing: 0.02rem;
	position: relative;
	padding-left: 1.6rem;
	width: 14rem;
	margin: 0 auto;
}

@media (min-width: 700px) {
	.heart-kickstarter {
		font-size: 5rem;
		line-height: 3rem;
		margin-left: -2rem;
		padding: 0;
		width: auto;
	}
}

@media (min-width: 1500px) {
	.heart-kickstarter {
		font-size: 7rem;
		line-height: 3.8rem;
	}
}

.data-yir-link {
	margin-top: 6rem;
	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.data-yir-link:nth-of-type(2) {
	margin-top: 1rem;
}

.full-viewport-hero {
	height: 100%;
}

.full-spread.enter-left .asset {
	left: 0;
}

section:nth-of-type(1) {
	display: block;
}

.event_00 .asset-1 {
	background-image: url("imgs/event_backgrounds/design.jpg");
	background-position: 50% 0;
}

.event_01 .asset-1 {
	background-image: url("imgs/event_backgrounds/dip.jpg");
	background-position: 50% 0;
}

.event_02 .asset-1 {
	background-image: url("imgs/event_backgrounds/anim.jpg");
	background-position: 50% 0;
}

.event_03 .asset-1 {
	background-image: url("imgs/event_backgrounds/currentx.jpg");
	background-position: 50% 0;
}

.event_04 .asset-1 {
	background-image: url("imgs/event_backgrounds/robotics.jpg");
	background-position: 50% 0;
}

.event_05 .asset-1 {
	background-image: url("imgs/event_backgrounds/prog.jpg");
	background-position: 50% 0;
}

.event_06 .asset-1 {
	background-image: url("imgs/event_backgrounds/oss.jpg");
	background-position: 50% 0;
}

.event_07 .asset-1 {
	background-image: url("imgs/event_backgrounds/webd.jpg");
	background-position: 50% 0;
}

.event_08 .asset-1 {
	background-image: url("imgs/event_backgrounds/solidworks.jpg");
	background-position: 50% 0;
}

.event_09 .asset-1 {
	background-image: url("imgs/event_backgrounds/wattack.jpg");
	background-position: 50% 0;
}


@media (min-width: 700px) {
	.event_00 .copy .wrap,
	.event_01 .copy .wrap,
	.event_02 .copy .wrap,
	.event_03 .copy .wrap,
	.event_04 .copy .wrap,
	.event_05 .copy .wrap,
	.event_06 .copy .wrap,
	.event_07 .copy .wrap,
	.event_08 .copy .wrap,
	.event_09 .copy .wrap{
		width: 75% !important;
	}
}

.event_00 .copy .wrap,
.event_01 .copy .wrap,
.event_02 .copy .wrap,
.event_03 .copy .wrap,
.event_04 .copy .wrap,
.event_05 .copy .wrap,
.event_06 .copy .wrap,
.event_07 .copy .wrap,
.event_08 .copy .wrap,
.event_09 .copy .wrap{
	width: 100%;
}

span.cName {
	float: left;
}

span.cNum {
	float: right;
}
span.cNum:before {
	content: "+91";
}

.contact,
.datevenue {
	padding: 4px;
	font-family: 'Germania One';
	font-weight: 400;
	box-shadow: 0 0 2px 2px hsl(0, 0%, 20%);
	background-color: hsla(0, 00%, 70%, 0.3);
	height: 15%;
	position: relative;
	margin: 1em auto;
}

@media (min-width: 600px) {
	.contact,
	.datevenue {
		height: 25%;
	}
	.contact div:before {
		font-size: 1.7em !important;
		width: 5rem !important;
	}
	.datevenue div:before {
		width: 5rem !important;
	}
}

.contact div:before {
	content: "WHO";
	font-family: 'Passero One' !important;
	font-size: 1.2em;
	color: white;
	width: 3rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	transform: rotate(-90deg);
	line-height: 0;
}

.datevenue div:before {
	content: "WHERE";
	font-family: 'Passero One' !important;
	font-size: 1.2em;
	color: white;
	width: 3rem;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	transform: rotate(90deg);
	line-height: 0;
}

.contact p,
.datevenue p {
	margin-bottom: 4px !important;
	font-family: 'Nunito';
	clear: both;
}

.datevenue .place {
	clear: both;
	text-align: center;
}

div.title {
	font-family: 'Lilita One';
	text-decoration: underline;
}

div.wrap {
	position: relative;
}

div.wrap p {
	line-height: inherit !important;
	font-size: 1em !important;
	padding: 1em;
	box-shadow: 0 0 2px 2px hsl(0, 0%, 20%);
	background-color: hsla(0, 0%, 70%, 0.3);
}

.eventDesc:before {
	content: "WHAT";
	text-align: center;
	font-family: 'Passero One' !important;
	font-size: 1.7em;
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: -1.2em;
}

.eventDesc {
	font-family: 'Raleway';
	font-weight: 400;
	max-height: 150px;
	overflow-y: auto;
}
.eventDesc::-webkit-scrollbar{width:8px;background-color:transparent;}
.eventDesc::-webkit-scrollbar-thumb{background-color:forestgreen;}
.eventDesc::-webkit-scrollbar-track{border:1px solid gray;box-shadow:0 0 6px gray inset;}
@media (max-width: 600px) {
	.eventDesc {
		padding: 0.5em !important;
		text-align: justify;
		max-height: 150px;
	}
}

li.project a,
.germaniaFont {
	font-family: 'Germania One', cursive !important;
	font-weight: 400;
	font-size: 1.2em
}

.intro_01 .wrap,
.intro_02 .wrap,
.intro_03 .wrap,
.intro_04 .wrap,
.outro_00 .wrap,
.outro_01 .wrap,
.outro_02 .wrap {
	font-family: 'IM Fell DW Pica SC', serif !important;
	font-weight: 400;
	font-size: 2em;
}

@media (max-width: 600px) {
	.intro_01 .wrap,
	.intro_02 .wrap,
	.intro_03 .wrap,
	.intro_04 .wrap,
	.outro_00 .wrap,
	.outro_01 .wrap,
	.outro_02 .wrap {
		font-size: 1.2em;
		overflow: auto
	}
}

@media (max-width: 600px) {
	.yir-intro-slide {
		margin-top: 20%
	}
}

 .browsecode,
.credits,
.contactus{
	font-family: 'Roboto Slab';
	font-size:0.5em;
	box-shadow: 0 0 2px 2px hsl(0, 0%, 20%);
	background-color: hsla(0, 00%, 70%, 0.3);
	height: 40%;
	width: 25%;
	position: relative;

}

/*@media (max-width: 600px) {
	.social {
		visibility:hidden;
	}
}*/
.moments {
	cursor: pointer
}

.row {
	position: relative;
	width: 80%;
	height: 100px;
	margin: 1em auto;
	text-align: center;
}
.row:nth-of-type(1) {
	margin: 0 auto;
	width: 100%;
	height: 3em;
}
.row p {
	font-size: 2em !important;
}
.row span:nth-of-type(1) {
	font-family: 'Nunito'
}
.row span:nth-of-type(2) {
	font-family: 'Raleway'
}
.row span:nth-of-type(4) {
	font-family: 'Niconne'
}
.row span:nth-of-type(5) {
	font-family: 'New Rocker'
}
.linkCircle, .linkRect {
	display: inline-block;
	width: 90px;
	height: 90px;
	background: hsla(170, 100%, 50%, 1);
	background-size: 50%!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	border-radius: 50%;
	text-align: center;
	margin: 5px 20px;
	padding: 0.8rem;
}
.linkRect {
	font-family: "Passero One";
	font-size: 1.5rem;
	width: 180px;
	height: auto!important;
	border-radius: 10px !important;
}
@media (max-width:600px) {
	.row {
		height: 60px;
	}
	.row:nth-of-type(1) {
		margin-top: 2em;
		width: 100% !important;
		word-spacing: 0.1em;
	}
	.row:nth-of-type(1) p {
		line-height: 1.8rem
	}
	.linkCircle {
		width: 50px;
		height: 50px;
		margin: 5px;
	}
	.linkRect {
		width: 100px;
		margin: 5px;
	}
}

#r1c1 {
	background-image: url(imgs/final_page_logos/like.svg);
}

#r2c1 {
	background-image: url(imgs/final_page_logos/tweet.svg);
}

#r2c2 {
	background-image: url(imgs/final_page_logos/wordpress.png);
}

#r3c1 {
	background-image: url(imgs/final_page_logos/code.svg)
}

#r3c2 {
	background-image: url(imgs/final_page_logos/credits.svg)
}

#r3c3 {
	background-image: url(imgs/final_page_logos/feedback.svg);
	background-position: center 70%
}

.row a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.subIEEE {
	font-family: "New Rocker"
}

/*.social-right {
	display: none
}*/

#logo2 {
	background-image: url(imgs/final_page_logos/ieeelogo.svg);
}

#logo3 {
	background-image: url(imgs/final_page_logos/ieee-logo.png)
}

#logo4 {
	background-image: url(imgs/final_page_logos/dtu.png)
}
